.show-order-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 24px;
  cursor: pointer;
  position: relative;
}

.order-icon img {
  width: 18px;
  height: auto;
}

.order-text {
  color: #484848;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin-left: 10px;
}

.order-modal {
  border: 1px solid #484848;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  right: -40px;
  z-index: 100;
  background-color: #fff;
}

.order-modal ul {
  list-style: none;
  padding: 10px;
  margin: 0px;
}
.order-modal li {
  margin: 8px 4px;
  padding: 5px 6px;
  cursor: pointer;
}
.order-modal li:hover {
  background-color: #c4c4c4;
  color: #fff;
  border-radius: 4px;
}
.order-modal-disabler {
  z-index: 5;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}
