.result {
  max-width: 960px;
  margin: 27px 37px;
  margin-top: 5vh;
}

.result-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media only screen and (max-width: 760px) {
  .result {
    margin: 27px 4px;
    margin-top: 5vh;
  }
}

@media only screen and (max-width: 500px) {
  .result-top {
    flex-direction: column;
  }
}
